.example01 .item {
  padding: 10px;
  width: 32%;
  background-color: #efefef;
  border-radius: 10px;
}

.example01 img {
  width: 100%;
  border-radius: 10px;
}

.example01 {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* 4번째 이후의 아이들 지정 */
.example01>.item:nth-child(n+4) {
  margin-top: 20px;
}

.example02 {
  display: flex;
  justify-content: space-between;
  width: 800px;
  list-style: none;
}

.example02 li {
  width: 25%;
  border-left: 1px solid #5b8f8f;
}

.example02 li:last-child {
  border-right: 1px solid #5b8f8f;
}

.example02 a {
  border-bottom: none;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 1.4;
}

.example02 span {
  color: #5b8f8f;
  font-size: 13px;
}

.example03 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  width: 100px;
}

.logo img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.example03 ul {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  list-style: none;
}

/* 마지막 아이 예외 */
.example03 li:not(:last-child) {
  margin-right: 30px;
}

.example03 a {
  border-bottom: none;
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  color: #333;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  text-decoration: none;
  line-height: 1.4;
}

.example03 span {
  color: #5b8f8f;
  font-size: 13px;
}

.example04 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.example04 li:not(:last-child) {
  margin-right: 30px
}

.example04 li:not(:last-child)::after {
  content: '';
  display: inline-block;
  margin-left: 30px;
  width: 10px;
  height: 10px;
  background-color: #5b8f8f;
  border-radius: 50%;
}

.example05 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
}

.example05 li:not(:last-child) {
  margin-right: 10px;
}

.example05 li a {
  display: block;
  padding: 10px;
  color: #111;
  line-height: 1;
  text-decoration: none;
  background-color: #e6e6e6;
  border: 2px solid #5b8f8f;
  border-radius: 8px;
}

.example05 li span {
  display: block;
  padding: 10px;
  color: #f2f2f2;
  line-height: 1;
  text-decoration: none;
  background-color: #5b8f8f;
  border: 2px solid #5b8f8f;
  border-radius: 8px;
}

.example06 {
  display: flex;
  align-items: center;
  margin: 0 auto 50px;
  width: 600px;
}

.example06:nth-child(even) {
  flex-direction: row-reverse;
}

.example06 .image {
  width: 50%;
}

.example06 .text {
  padding: 0 30px;
  width: 50%;
}

.example06 img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.example07 label {
  display: flex;
  align-self: center;
}

.example07 label:not(:last-child) {
  margin-bottom: 20px;
}

.example07 .title {
  display: flex;
  justify-content: space-between;
  align-self: center;
  padding-right: 20px;
  width: 220px;
  font-weight: 600;
}

.example07 .title-textarea {
  display: flex;
  justify-content: space-between;
  align-self: flex-start;
  padding-right: 20px;
  width: 220px;
  font-weight: 600;
}

.example07 .required {
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1;
  background-color: #7fb2a1;
  border-radius: 10px;
}

.example07 input,
.example07 textarea {
  display: block;
  padding: 10px;
  flex: 1;
  background-color: #e5e5e5;
  border: 2px solid #5b8f8f;
  border-radius: 8px;
}

.example07 textarea {
  height: 200px;
}

.example08 dl {
  display: flex;
  justify-content: space-between;
}

.example08 dt {
  padding: 20px 30px;
  width: 230px;
  border-bottom: 2px solid #3b8f8f;
}

.example08 dd {
  padding: 20px 30px;
  width: calc(100% - 230px);
  border-bottom: 2px solid #bbb;
  margin-inline-start: 0px;
}

.example09 {
  display: flex;
  justify-content: space-between;
}

.example09 .item {
  display: flex;
  flex-direction: column;
  padding: 15px;
  width: 48%;
  box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}

.example09 p {
  flex-grow: 1;
  margin-bottom: 20px;
}

.example09 a {
  display: block;
  padding: 20px 0;
  color: #111;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  background-color: #7fb2a1;
  border-radius: 10px;
  border-bottom: none;
}

.example10 {
  margin: auto;
  width: 400px;
}

.example10 .image {
  margin-right: calc(50% - 30vw);
  margin-left: calc(50% - 30vw);
  margin-bottom: 30px;
}

.example10 img {
  display: block;
  width: 100%;
  height: auto;
}

.example11 {
  column-count: 3;
  padding: 20px;
  list-style: none;
}

.example11 li {
  break-inside: avoid;
}

.example11 img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.example11 p {
  font-size: 11px;
  text-align: center;
}

.example12 {
  display: flex;
  justify-content: space-around;
}

.example12>div {
  width: 40%;
  padding: 2rem 0;
  border: 1px solid #343434;
  border-radius: 4px;
}

.example12 .flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.example12 .grid {
  display: grid;
  place-items: center;
}

.example13 {
  scroll-snap-type: x mandatory;
  margin: 0 auto;
  padding: 30px 0;
  max-width: 800px;
  white-space: nowrap;
  overflow-x: scroll;
}

.example13 .item {
  scroll-snap-align: center;
  display: inline-block;
  margin: 0 20px;
  width: 40%;
  white-space: normal;
  background-color: #f4f4f4;
  overflow: hidden;
}

.example13 img {
  display: block;
  width: 100%;
  height: auto;
}

.example13 p {
  margin: 0;
  padding: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.example14 {
  margin: 0 auto 10px;
  width: 580px;
}

.example14 summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  font-size: 18px;
  background-color: #d6d6d6;
  border-radius: 10px;
  cursor: pointer;
}

.example14 summary::-webkit-details-marker {
  display: none;
}

.example14 summary:hover,
.example14[open] summary {
  background-color: #bbb;
}

.example14 summary::after {
  content: '+';
  margin-left: 30px;
  color: #5b8f8f;
  font-size: 21px;
  transition: transform .5s;
}

.example14[open] summary::after {
  transform: rotate(45deg);
}

.example14 .answer {
  padding: 20px;
  line-height: 1.6;
}

.example14[open] .answer {
  animation: fadein .5s ease;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}